# Folders
bin

# Generated
Makefile
Makefile.*
*.o
moc_*

# Docs
docs/html

# Build folders
*/debug
*/release
*/*/debug
*/*/release

#examples
helloworld
greeting
bodydata

#custom
custom.pri

# Visual studio
*.suo
*.ncb
*.user
*.pdb
*.idb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.lib
*.sln
*.rc
